/* Estilos generales para el texto */
p {
    color: white;
    font-size: 16px;
    font-family: Roboto;
    font-weight: 500;
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
}

    /* Contenedor para la información del puesto */
    .info-contenedor {
        background: linear-gradient(to right, #24512D, #12976D);
        background-size: 400% 400%;
        border-radius: 25px;
        padding: 30px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        margin: 20px auto;
        max-width: 800px; /* Ajusta el ancho máximo si es necesario */
        box-sizing: border-box; /* Asegura que el padding y el border se incluyan en el ancho total */
    }

    /* Información del vendedor */
    .info_vendedor {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }

    .info_vendedor img {
        width: 80px; /* Tamaño de la imagen circular del vendedor */
        height: 80px;
        border-radius: 50%;
        margin-right: 20px;
    }

    .info_texto h2 {
        margin: 0;
        font-size: 24px;
        color: white;
    }

    /* Información del puesto */
    .info_puesto {
        color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center; /* Centra horizontalmente */
        text-align: center; /* Centra el texto dentro del contenedor */
        padding: 20px; /* Añade un poco de padding si es necesario */
        border-radius: 25px; /* Opcional: Ajusta los bordes del contenedor */
        background-color: rgba(0, 0, 0, 0.25); /* Opcional: Agrega un fondo semi-transparente */
    }
    .info_puesto h3 {
        font-size: 18px;
        margin: 10px 0 5px;
    }

    .info_puesto p {
        font-size: 16px;
        margin: 0 0 15px;
    }

    .info_puesto img.img-pequena {
        width: 400px; /* Tamaño de la imagen del puesto */
        height: auto;
        border-radius: 10px; /* Ajusta el radio del borde si es necesario */
    }



